<!-- Footer -->
<div id="footer">
<div id="footer_content">
  
  <h3><a href="http://www.artofmission.com/" target="blank">Art of Mission</a></h3>
  <p>
    <a href="http://forum.crossconnector.com/">support forum</a> | 
    <a href="http://www.crossconnector.com/terms/" target="blank">terms of use</a> | 
    <a href="http://www.crossconnector.com/privacy/" target="blank">privacy policy</a>
  </p>
  
</div>
</div>
<!-- End Footer -->