
<div id="menu">
  <ul>
    <%= navigation_link("admin", "homebase") %>
    <%= navigation_link("admin/project", "projects") %>
    <%= navigation_link("admin/message", "messages") %>
    <%= navigation_link("admin/file", "files") %>
    <%= navigation_link("admin/teams", "teams") %>
  </ul>
</div>
