<hr />

<h2>CrossConnector is now <strong>donationware</strong></h2>

<p>
  That means that we rely on donations to keep it going. If you enjoy CrossConnector and find it useful, please donate today. 
</p>

<%= render :partial => "shared/donate" %>