<h1>Retrieve Your Password</h1>

<hr />
<dl>
<%= start_form_tag %>
  <dt>Your email address</dt>
  <dd><%= text_field("user", "email") %></dd>
  <dd><%= submit_tag("Send my password") %> or <%= link_to("Back to log-in", :action => "login") %></dd>
  
<%= end_form_tag %>
</dl>
