
<hr />

<div id="Flash" class="information">
  Our payment system is temporarily offline. 
</div>

<p>
  We're doing some maintenance on our payment system, so it's temporarily offline. It should be back shortly! 
</p>

<p>Sorry for the inconvenience!</p>

<p><big><%= link_to("Back to your account page", :action => "index") %></big></p>