<div class="intro">
  <h3>You haven't posted any events for this project yet.</h3>
  <p>
    <%= link_to_function("Post the first event for this project.", visual_effect(:blind_down, "new_event_form", :duration => 0.5), :class => "event_add icon") %>
  </p>

</div>