<% if request.env["HTTP_USER_AGENT"].include?("MSIE") %>
<div class="flash information">
<p>We noticed you're using Microsoft Internet Explorer as your browser. May we recommend a better browser? Firefox is much more advanced, and will give you a better experience on CrossConnector. </p>

<p>Need more reasons? Check out <a href="http://browsehappy.com/">Browse Happy</a>, and <a href="http://www.getfirefox.org/">Get Firefox</a>.</p>

</div>
<% end %>