
<hr />
  
  <div style="text-align:left;">
    <%= render :partial => "shared/feeds" %>
    <hr />
    
  <small>
    All rights reserved by respective content owners. <br />
    Powered by <%= link_to("CrossConnector", "http://www.#{App::CONFIG[:app_domain]}/") %>.
  </small>
  </div>
<!--div id="search">
  <%= render :partial => "shared/search_form" %>
  <p>Search ministries worldwide</p>
</div-->
