<%= render :partial => "public/nav" %>

<div id="header">
  
  <div class="content">
    <%= content_tag("h1", h(@homebase.name)) %>
    <%= content_tag("p", h(@homebase.tagline), :id => "tagline") %>
  </div>
  
  
</div>

