<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>CrossConnector <%= @page_title %></title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="copyright" content="(c) Copyright 2005 Art of Mission (www.artofmission.com)" />
  <%= stylesheet_link_tag "login", "common", :media => "screen" %>
  <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
  
  <script type="text/javascript" language="javascript">
  // <![CDATA[
  <%= @content_for_page_scripts %>
  // ]]>
  </script>

</head>


<body><div id="container">
  
  <div id="header">
    <ul id="mainNav">
      <%= content_tag("li", link_to("Search", "http://www.#{@request.domain}/")) %>
      <%= content_tag("li", link_to("Sign Up", "http://www.#{@request.domain}/signup/")) %>
      <%= content_tag("li", link_to_unless_current("Log-In", :controller => "login")) %>
    </ul>
  </div>

  <div id="content">

    <%= content_tag("h1", link_to(image_tag("logo.gif", :alt => "CrossConnector"), "/")) unless @params[:controller] == "search" %>
    
    <%= render :partial => "shared/flash_notice" %>
  
    <%= @content_for_layout %>
  </div>
  
  <div id="footer">
    &copy; 2005-2006 <%= link_to("Art of Mission, Inc.", "http://www.artofmission.com/") %>
  </div>
</div><%= render :partial => "layouts/analytics" %></body>
</html>