  <div class="intro">
    <h3>You haven't posted any messages relating to this project yet.</h3>
    <p>
      <%= link_to("Post the first message for this project.", {:controller => "/admin/message", :action => "new", :project => @project.id}, :class => "message_add icon") if user_can_edit? "message" %>
    </p>

  </div>