
<div id="menu">
  <ul>
    <%= navigation_link("homebase") %>
    <%= navigation_link("plan") %>
    <%= navigation_link("blog") %>
    <%= navigation_link("share") %>
    <%= navigation_link("teams") %>
  </ul>
</div>
