<div class="flash information">
  <small>Because the project that you selected is private and protected by a password, this message will automatically be protected by the same password.</small>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  document.getElementById('message_private').checked = true;
  document.getElementById('message_private').disabled = true;
// ]]>
</script>