Hello <%= @user.name.to_s %>,

You requested your password for your <%= @user.homebase.name %> CrossConnector homebase. 

  Your password: <%= @user.decrypted_password %>

Please keep your password secret to prevent unauthorized access. 