Hi <%= @name %>

Forgot your password? 

Here is a link to get your password back: 

<%= @link %>

 - Ryan Heneise, CrossConnector
 
 
 
Why can't we just tell you your password? 
Well, actually, it's because we don't know your password. CrossConnector stores your password in our database, but before it does, it mashes it up and encrypts it so that not even we can read it. Once it's mashed (using SHA-1 encryption, for you technical people) it can't be un-mashed. 
